[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "funr"]
	path = funr
	url = https://github.com/sahilseth/funr
[submodule "pipefittr"]
	path = pipefittr
	url = https://github.com/cran/pipefittr
